@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v8l994');
  src:  url('fonts/icomoon.eot?v8l994#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v8l994') format('truetype'),
    url('fonts/icomoon.woff?v8l994') format('woff'),
    url('fonts/icomoon.svg?v8l994#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e900";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e903";
}
