::-moz-selection {
  background-color: #7d8edc;
  color: whitesmoke;
}

::selection {
  background-color: #7d8edc;
  color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
}

.btn {
  background: #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  border-radius: 3px;
  color: #5a5a5a;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn.btn-active {
  background: #30cfe4;
  color: #ffffff;
}

.btn.btn-active:hover {
  background: #5dd9f1;
}

.btn.btn-light:hover {
  background: #f3f3f3;
  color: #656565;
}

.arrow-icon {
  border: 1px solid #a3a3a3;
  color: #a3a3a3;
  border-radius: 100%;
  font-size: 1.6rem;
  padding: 0.5rem;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.arrow-icon:hover {
  color: #30cfe4;
  border-color: #30cfe4;
}

.arrow-resp {
  display: none;
}

.tx-center {
  text-align: center;
}

.auth-input {
  width: 100%;
  margin-bottom: 1.5em;
  border: none;
  background: white;
  padding: 0.75em;
  outline: none;
}

a {
  color: #0ebbd2;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover {
  color: #30cfe4;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background: #f0f0f0;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #30cfe4;
  height: 100vh;
  position: relative;
}

.auth .white-side {
  position: absolute;
  width: 50%;
  height: 100vh;
  right: 0;
}

.auth .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background: #f2f2f2;
  padding: 2em;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px 1px #6e6e6e;
          box-shadow: 2px 2px 10px 1px #6e6e6e;
}

.auth .auth-form img {
  width: 18rem;
}

.auth .auth-form h3 {
  font-weight: 600;
  color: #555555;
  margin: 0.25em 0;
}

.auth .auth-form .auth-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
}

.auth .auth-form .auth-foot .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth-form .auth-foot .remember h6 {
  color: #555;
  margin-left: 0.5em;
  font-weight: 400;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 0.5em 2em;
  background: #f9f9f9;
  border-bottom: 1px solid #bebebe;
}

header img {
  width: 8em;
}

header h5 {
  font-weight: 400;
  color: #3c3c3c;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.home main {
  min-height: 100vh;
  width: calc(100% - 19em);
  padding: 2em;
  background: #f9f9f9;
  margin: 5em 2em 0;
  border: 1px solid #bebebe;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home main h1 {
  color: #3c3c3c;
  margin-bottom: 0.5em;
}

.home main table {
  width: 100%;
  border-collapse: collapse;
}

.home main table thead {
  background: #e6e6e6;
}

.home main table thead tr th {
  font-weight: 600;
  color: #616161;
  padding: 7px 0 7px 12px;
  text-align: left;
}

.home main table tbody tr {
  border-bottom: 1px solid #bebebe;
}

.home main table tbody tr td {
  font-weight: 400;
  color: #616161;
  padding: 12px;
}

.home main table tbody tr td .i-delete {
  color: #f44336;
}

.home main table tbody tr td .i-delete:hover {
  color: #e57373;
}

.home main table tbody tr:last-child {
  border-bottom: none;
}

.modal {
  position: absolute;
  z-index: 99999999;
  width: 100%;
  height: 100vh;
  background: rgba(150, 150, 150, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content-modal {
  width: 22em;
  background: white;
  padding: 2em;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content-modal .btn-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.modal .content-modal h3 {
  color: #3c3c3c;
  margin-bottom: 0.5em;
  text-align: center;
}

aside {
  background: #f9f9f9;
  width: 15em;
  z-index: 999;
  position: fixed;
  top: 47.84px;
  min-height: 100vh;
  border-right: 1px solid #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
}

aside ul li {
  margin: 1.5em 0;
}

aside ul li a {
  color: #7c92a7;
  font-weight: 600;
  font-size: 0.85rem;
}

aside ul li a span {
  position: relative;
  top: 3px;
  font-size: 1rem;
  padding-right: 0.75em;
}

